$mainGrey: #333333;
$lightGrey: #aaa9a9;
$purple: #38182F;
$lightBlack: #1E1B18;
$linkedInBlue: #0077B5;

$desktop: "screen and (min-width: 1000px)";
$tablet: "screen and (min-width: 500px)";
$tabletLarge: "screen and (min-width: 600px)";