.container {

    .link1,.link2 {
        position: absolute;
        top: 0;
        border: 0.1em solid black;
        width: 10em;
        height: 7em;
        color: #575555;
    }

    .link1 {
        left: 0;
        transform: rotate(-45deg) translateY(-72px) translateX(-17px);
    }

    .link2 {
        right: 0;
        transform: rotate(45deg) translateY(-72px) translateX(17px);
    }

    i {
        position: absolute;
        bottom: 0.5em;


        &::before{
            font-size: 3em;
        }
    }

    .icon1 {
        left: 35%;
    }

    .icon2 {
        left: 35%;
    }
}