.link1,.link2 {
    position: absolute;
    top: 0;
    border: 0.09em solid $mainGrey;
    width: 10em;
    height: 7em;
    color: #575555;
    margin-left: 0;
    opacity: 0;
    animation: fadeIn 2s 1s linear forwards;
    z-index: 2000;

    i {
        position: absolute;
        bottom: 0.5em;


        &::before{
            font-size: 2em;
        }
    }
}

.link1 {
    left: 0;
    transform: rotate(-45deg) translateY(-90px) translateX(-17px);

    &:hover {
        color: white;
        transition: 0.5s;
    }
}

.link2 {
    right: 0;
    transform: rotate(45deg) translateY(-90px) translateX(17px);

    &:hover {
        color: $linkedInBlue;
        transition: 0.5s;
    }
}

.icon1 {
    left: 40%;
}

.icon2 {
    left: 40%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}