@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

body {
    color: $lightGrey;
    font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 500;
}

button {
    font-family: 'Lato', sans-serif; 
}

.about, .work {
    // letter-spacing: 0.22em;
    line-height: 1.5em;
}
