.contact, .contact__container {

    @media #{$desktop} {
        height: 100vh;
    }
}

.contact {
    height: 100%;
    position: relative;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    z-index: 3000;
    background-image: url('../images/4.jpg');
    background-size: 100% 100%;

    .overlay {
        background: rgba(14, 13, 13, 0.90);
    }
}

.contact__container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 2em;
    z-index: 2000;

    @media #{$tablet} {
        width: 70%;
    }

    @media #{$desktop} {
        width: 40%;
    }
}

form {
    @include flexbox();
    @include flex-direction(column);

    label, input, textarea{
        margin-top: 1em;
    }

    label {
        text-align: center;
    }

    input, button {
        height: 2em;
    }

    input, textarea {
        background: $lightGrey;
        border: none;
        border-radius: 2px;
        padding: 0.2em;
    }
}