.container {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction(column);
    position: relative;
    width: 100%;
    height: 100%;
}