.container {
    nav {
        width: 80vw;
        @include flexbox();
        @include justify-content(space-between);
        @include align-items(center);
        @include flex-direction(column);
        margin-top: 2em;

        @media #{$tablet} {
            @include flex-direction(row);
        }

        @media #{$desktop} {
            @include flex-direction(row);
            width: 40vw;
            margin-top: 1em;
        }

        a {
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
            width: 10em;
            border: 0.15em solid $purple;
            text-align: center;
            height: 3em;
            margin-bottom: 0.7em;

            @media #{$tablet} {
                width: calc((100% / 3) - 0.5em);
            }

            @media #{$desktop} {
                width: calc((100% / 3) - 2em);
            }
        }
    }
}

.about, 
.work,
.contact {
    nav {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        position: absolute;
        bottom: 0.3em;
        z-index: 3000;
        margin-bottom: 0.5em;

        a {
            margin-left: 1em;

            &:nth-of-type(1) {
                margin-left: 0;
            }

            &:hover {
                // animation: liftAnchor 0.5s ease-in-out forwards;
            }
        }

        @media #{$desktop} {
            position: absolute;
            bottom: 0.5em;
            right: 3em;
            bottom: 0.3em;
        }
    }
}

@keyframes liftAnchor {
    0% {
        // transform: translateY(0)
       padding-bottom: 0;
    }

    100% {
        // transform: translateY(-1em);
        padding-bottom: 2em;
    }

    // 100% {
    //     transform: translateY(-1em) scale(1.1);
    // }
}